{% extends 'base.html'%}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
    <div class = 'border rounded p-4 m-4'>
            <p class = "display-4 pl-4 ml-4">My Cart</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img style = "height: 80px"src="{{product.image.url}}" class="rounded circle" alt=""></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price|currency}}</td>
                        <td>{{product|cart_quantity:request.session.cart}}</td>
                        <td>{{product|price_total:request.session.cart|currency}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan = "4"></th>
                        <th colspan = "">Total</th>
                        <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                    </tr>
                </tfoot>
            </table>
            <div class = "d-flex justify-content-end m-3 p-3">
                <a href="#" data-toggle="modal" data-target="#exampleModal" class = "btn btn-primary border rounded col-lg-3 float-end">Place Order</a>
            </div>

    </div>
</div>

<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}